/* Begin Styles */

body {
background-color:#272521;
cursor:default;
font-family:arial,verdana;
user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
}

#main {
margin:0 auto;
width:650px;
}

#main > header {
font-size:20pt;
font-weight:bold;
margin:20px;
}

#main > header .leftheading {
color:#a39c82;
}

#main > header .rightheading {
color:#fffbef;
}

article > header {
background-color:#665f46;
padding:20px;
}

article > header aside {
cursor:pointer;
float:right;
font-size:18pt;
font-weight:bold;
margin-top:3px;
}

article > header aside .leftlogo {
color:#a39c82;
}

article > header aside .rightlogo {
color:#fffbef;
}

article > header aside:hover .leftlogo {
color:#8f886c;
}

article > header label {
color:#faf9ee;
font-size:18pt;
margin-right:6px;
position:relative;
top:4px;
}

article > header #search {
background-color:#877c5a;
border:1px solid #8f886c;
color:#fffdf6;
font-size:14pt;
outline:0;
padding:4px 6px;
}

article > header #search:focus,
article > header #search:hover {
border:1px solid #a39c82;
}

ul#contacts {
background-color:#363432;
margin:0;
padding:10px;
}

ul#contacts li {
background-color:#252521;
cursor:default;
list-style:none;
margin:10px;
}

ul#contacts li:not(:first-child) {
margin-top:20px;
}

ul#contacts li.new {
display:none;
}

ul#contacts li.empty {
color:#a39c82;
font-size:14pt;
padding:15px;
text-align:center;
}

ul#contacts li > header {
cursor:pointer;
}

ul#contacts li .name {
color:#fbfbf7;
padding:15px;
}

ul#contacts li .links {
color:#fffefa;
cursor:default;
float:right;
padding:15px;
}

ul#contacts li .links a {
color:#a09986;
}

ul#contacts li .less {
display:none;
}

ul#contacts li .savespan {
display:none;
}

ul#contacts li .details {
display:none;
padding:0 15px 15px;
}

ul#contacts li .details div:not(:first-child) {
margin-top:2px;
}

ul#contacts li label {
color:#9d9a86;
display:block;
float:left;
margin-right:6px;
padding-top:4px;
text-align:right;
width:50px;
}

ul#contacts li label:after {
content:": ";
}

ul#contacts li input {
background-color:transparent;
border:solid 1px transparent;
color:#faf9f4;
outline:0;
padding:4px;
-webkit-transition:border-color .2s;
width:400px;
}

ul#contacts li input:hover,
ul#contacts li input:focus {
border:solid 1px #faf9f4;
}

footer {
color:#b2adaa;
font-size:10pt;
margin:20px;
}