/* HnS Base Stylesheet */
html .hns,body .hns{background:#fff;border:0;margin:0;padding:0;font-size:100%;vertical-align:baseline}
.hns div,.hns span,.hns object,.hns iframe,.hns h1,.hns h2,.hns h3,.hns h4,.hns h5,.hns h6,.hns p,.hns blockquote,.hns pre,
.hns abbr,.hns address,.hns cite,.hns code,.hns del,.hns dfn,.hns em,.hns img,.hns ins,.hns kbd,.hns q,.hns samp,.hns small,.hns strong,.hns sub,.hns sup,.hns var,.hns b,.hns i,.hns dl,.hns dt,.hns dd,.hns ol,.hns ul,.hns li,
.hns fieldset,.hns form,.hns label,.hns input,.hns textarea,.hns legend,.hns table,.hns caption,.hns tbody,.hns tfoot,.hns thead,.hns tr,.hns th,.hns td,
.hns article,.hns aside,.hns canvas,.hns details,.hns figcaption,.hns figure,.hns footer,.hns header,.hns hgroup,.hns menu,.hns nav,.hns section,.hns summary,
.hns time,.hns mark,.hns audio,.hns video{border:0;margin:0;padding:0;font-size:100%;font:inherit;vertical-align:baseline}
.hns article,.hns aside,.hns details,.hns figcaption,.hns figure,.hns footer,.hns header,.hns hgroup,.hns menu,.hns nav,.hns section,.hns time{display:block}
.hns address,.hns caption,.hns cite,.hns code,.hns dfn,.hns em,.hns strong,.hns th,.hns var{font-style:normal;font-weight:normal}
.hns table{border-collapse:collapse;border-spacing:0}
.hns fieldset,.hns img{border:0}
.hns li{list-style:none}
.hns caption,.hns th{text-align:left}
.hns h1,.hns h2,.hns h3,.hns h4,.hns h5,.hns h6{font-size:100%;font-weight:normal}
.hns blockquote,.hns q{quotes:none}
.hns blockquote:before,.hns blockquote:after,.hns q:before,.hns q:after{content:'';content:none}
.hns abbr,.hns acronym{border:0;font-variant:normal}
.hns sup{vertical-align:text-top}
.hns sub{vertical-align:text-bottom}
.hns input,.hns textarea,.hns select{font-family:inherit;font-size:inherit;font-weight:inherit}
.hns input,.hns textarea,.hns select{*font-size:100%}
.hns input,.hns select {vertical-align:middle}
.hns legend{color:#000}
.hns ins{background-color:#ff9;color:#000;text-decoration:none}
.hns mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
.hns del{text-decoration:line-through}
.hns abbr[title],.hns dfn[title]{border-bottom:1px dotted;cursor:help}
html .hns,body .hns{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:1em;line-height:1.1}
html .hns{direction:ltr;text-align:left;overflow:hidden}
body .hns{font:13px/1.231 sans-serif;*font-size:small;user-select:none;-khtml-user-select:none;-moz-user-select:none;-webkit-user-select:none}
body .hns,.hns select,.hns input,.hns textarea{color:#444}
.hns h1{font-size:138.5%}
.hns h2{font-size:123.1%}
.hns h3{font-size:108%}
.hns h1,.hns h2,.hns h3{margin:1em 0}
.hns h1,.hns h2,.hns h3,.hns h4,.hns h5,.hns h6,.hns strong{font-weight:bold}
.hns abbr,.hns acronym{border-bottom:1px dotted #000;cursor:help}
.hns em{font-style:italic}
.hns blockquote,.hns ul,.hns ol,.hns dl{margin:1em}
.hns ol,.hns ul,.hns dl{margin-left:2em}
.hns ol li{list-style:decimal outside}
.hns ul li{list-style:disc outside}
.hns dl dd{margin-left:1em}
.hns th,.hns td{border:1px solid #000;padding:.5em}
.hns th{font-weight:bold;text-align:center}
.hns caption{margin-bottom:.5em;text-align:center}
.hns p,.hns fieldset,.hns table{margin-bottom:1em}
.hns select,.hns input,.hns textarea,.hns button{font:99% sans-serif}
.hns input:disabled,.hns textarea:disabled{background-color:#ebebe4;cursor:default}
.hns pre,.hns code,.hns kbd,.hns samp{font-family:monospace,sans-serif}
.hns a:link,.hns a:visited{color:#3b5998;text-decoration:none}
.hns a:hover,.hns a:active{outline:none;text-decoration:none}
.hns .cf:before,.hns .cf:after{content:"\0020";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.hns .clearfix:after{clear:both}
.hns .cf{display:block;zoom:1}
html[xmlns] .hns .cf{display:block}
* html .hns .cf{height:1%}

.hns ul,.hns ul li{list-style:none;margin:0}
.hns .lfloat{float:left}
.hns .rfloat{float:right}
.hns .hidden{display:none;visibility:hidden}
.hns .visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.hns .invisible{visibility:hidden}
.hns .bold{font-weight:bold}
.hns .link{color:#3b5998;cursor:pointer}
.hns .link:hover{text-decoration:underline}