@media screen{@font-face{font-family:'josefin sans std light';font-style:normal;font-weight:normal;src:local('josefin sans std light'),local('josefinsansstd-light'),url('http://themes.googleusercontent.com/font?kit=doRWK9Qks0OQGenH-kW8nje4rGmx_oKyPTpXBjgU-s4')format('truetype')}}

/* Begin Styles */

body {
cursor:default;
font-family:'josefin sans std light',arial,verdana;
font-size:14pt;
user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-webkit-user-select:none;
}

img.logo {
height:0;
width:0;
}

#main {
margin:0 auto;
width:650px;
}

#hd_home {
font-size:30pt;
font-weight:bold;
margin:20px 0;
}

#hd_home .leftheading {
color:#a39c82;
}

#homelink {
cursor:pointer;
}

.content {
background-color:#ccc;
margin:0;
}

#nav {
padding:30px;
}

#profilename,
#user_profilename,
#preview_profilename {
font-size:38pt;
font-weight:900;
margin-bottom:25px;
text-align:center;
}

#preview_profilename {
padding-top:25px;
}

#profilecover,
#user_profilecover,
#preview_profilecover {
display:none;
height:315px;
margin-bottom:25px;
overflow:hidden;
position:relative;
}

.coverphoto {
left:0;
min-height:100%;
min-width:100%;
position:absolute;
top:0;
width:100%;
}

#profilelinklist,
#user_profilelinklist,
#preview_profilelinklist {
margin-right:8px;
text-align:center;
}

.profilelink,
.addpagelink {
border:1px solid #444;
border-radius:3px;
-khtml-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
cursor:pointer;
display:inline-block;
height:32px;
width:32px;
}

.profilelink:hover,
.addpagelink:hover {
box-shadow:4px 4px 0 #444;
-khtml-box-shadow:1px 1px 0 #444;
-moz-box-shadow:1px 1px 0 #444;
-webkit-box-shadow:1px 1px 0 #444;
}

.addpagelink {
background-color:#fff;
}

.profilelink:hover img {
background-color:rgba(0, 0, 0, 0.5);
border-color:#000;
}

.profilelink,
.addpagelink {
margin-left:8px;
}

img.profilelinkimage {
height:32px;
width:32px;
}

#profilepictures,
#user_profilepictures,
#preview_profilepictures {
padding:30px 30px 0 30px;
}

#profilepictures > header,
#user_profilepictures > header,
#preview_profilepictures > header {
font-size:26pt;
margin-bottom:14px;
}

#profilepictures_content > div,
#user_profilepictures_content > div,
#preview_profilepictures_content > div {
text-align:center;
}

.userpicture {
display:inline-block;
padding:8px;
}

.userpictureimage {
height:180px;
width:180px;
}

#profileactivities,
#user_profileactivities,
#preview_profileactivities {
padding:30px;
}

#profileactivities > header,
#user_profileactivities > header,
#preview_profileactivities > header {
font-size:26pt;
margin-bottom:14px;
}

.activity {
margin-bottom:10px;
padding-bottom:10px;
}

.activity a:hover {
text-decoration:underline;
}

.activityheader {
background-color:#ddd;
border-bottom:1px solid #000;
padding:20px;
margin-bottom:10px;
}

.activitypanel {
padding:10px;
}

.activityheader_content {
display:inline-block;
float:right;
}

.panel-twitter-statuscount {
margin-left:8px;
}

.panel-twitter-handle {
margin-left:8px;
}

.panel-twitter-item {
padding:10px 0;
}

.panel-github-item {
padding:14px 0;
}

.panel-github-handle {
margin-left:8px;
}

.panel-github-item-repodate {
float:right;
}

.panel-github-item-description {
margin-top:6px;
}

#addnewpage {
display:none;
margin:0 auto;
margin-top:24px;
width:282px;
}

#loggedin,
#loggedout {
display:none;
}

#authpanel {
float:left;
padding:10px;
width:282px;
}

#statement {
font-size:22pt;
padding:14px 0;
text-align:center;
}

#login > header,
#register > header,
#addnewpage > header {
cursor:default;
font-size:18pt;
font-weight:bold;
margin:10px;
padding-bottom:12px;
}

#previewfeed {
border-left:1px dashed #b2adaa;
float:right;
min-height:540px;
width:344px;
word-wrap:break-word;
}

#previewfeed > header {
font-size:26pt;
padding:14px;
text-align:right;
}

#user_profile,
#preview_profile {
display:none;
}

footer {
font-size:12pt;
margin-top:20px;
padding-bottom:20px;
}

.buttonTools {
height:30px;
margin-top:5px;
}

.buttonTools input,
.coolform input,
.coolform select {
background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
background-image:-moz-linear-gradient(top,#fff,#fff);
border:1px solid #717171;
border-radius:3px;
-khtml-border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
box-shadow:1px 1px 0 #444;
-khtml-box-shadow:1px 1px 0 #444;
-moz-box-shadow:1px 1px 0 #444;
-webkit-box-shadow:1px 1px 0 #444;
color:#444;
filter:alpha(opacity=100);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
font-size:11pt;
outline:none;
opacity:1;
-khtml-opacity:1;
-moz-opacity:1;
padding:5px;
text-shadow:0 1px 0 #666;
}

.buttonTools ul.lfloat li:first-child input {
background-color:#4d90fe;
background-image:linear-gradient(top,#4d90fe,#4787ed);
background-image:-o-linear-gradient(top,#4d90fe,#4787ed);
background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);
background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
border:1px solid #3079ed;
color:#fff;
}

.buttonTools ul.rfloat li:last-child input {
background-color:#3d9400;
background-image:linear-gradient(top,#3d9400,#398a00);
background-image:-o-linear-gradient(top,#3d9400,#398a00);
background-image:-moz-linear-gradient(top,#3d9400,#398a00);
background-image:-ms-linear-gradient(top,#3d9400,#398a00);
background-image:-webkit-linear-gradient(top,#3d9400,#398a00);
border:1px solid #29691d;
color:#fff;
filter:alpha(opacity=50);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
opacity:0.5;
-khtml-opacity:0.5;
-moz-opacity:0.5;
}

.buttonTools ul li {
float:left;
}

.buttonTools ul li:not(:first-child) {
margin-left:5px;
}

.buttonTools label {
display:block;
width:100%;
}

.buttonTools input:not(:disabled) {
cursor:pointer;
}

.button > a,
.button > button {
background-color:#f5f5f5;
border:1px solid #dedede;
border-left:1px solid #eee;
border-top:1px solid #eee;
color:#565656;
cursor:pointer;
display:block;
float:left;
font-family:"lucida grande", tahoma, arial, verdana, sans-serif;
font-size:10pt;
font-weight:bold;
line-height:130%;
margin:0;
padding:5px 10px 6px 7px;
text-decoration:none;
}

.button > button {
overflow:visible;
padding:4px 10px 3px 7px;
width:auto;
}

.button > button[type] {
line-height:17px;
padding:5px 10px 5px 7px;
}

*:first-child+html .button > button[type] {
padding:4px 10px 3px 7px;
}

.button > a img,
.button > button img {
border:none;
height:16px;
margin:0 3px -3px 0 !important;
padding:0;
width:16px;
}

/* STANDARD */

.button > button:hover,
.button > a:hover {
background-color:#dff4ff;
border:1px solid #c2e1ef;
color:#336699;
}

.button > a:active {
background-color:#6299c5;
border:1px solid #6299c5;
color:#fff;
}

/* POSITIVE */

.button > button.positive,
.button > a.positive {
color:#529214;
}

.button > a.positive:hover,
.button > button.positive:hover {
background-color:#e6efc2;
border:1px solid #c6d880;
color:#529214;
}

.button > a.positive:active {
background-color:#529214;
border:1px solid #529214;
color:#fff;
}

/* NEGATIVE */

.button > a.negative,
.button > button.negative {
color:#d12f19;
}

.button > a.negative:hover,
.button > button.negative:hover {
background:#fbe3e4;
border:1px solid #fbc2c4;
color:#d12f19;
}

.button > a.negative:active {
background-color:#d12f19;
border:1px solid #d12f19;
color:#fff;
}

#f_login .formcontainer label,
#f_register .formcontainer label {
width:auto;
}

#f_addpage .formcontainer label {
text-align:left;
}

#register {
display:none;
}

.coolform > header {
cursor:default;
font-size:18pt;
font-weight:bold;
margin:10px;
padding-bottom:12px;
}

.coolform .formcontainer > div,
.coolform .buttonTools {
margin:10px;
}

.coolform .formcontainer label {
display:inline-block;
margin-bottom:6px;
padding-right:10px;
text-align:right;
width:6em;
}

.coolform input[type="text"],
.coolform input[type="password"],
.coolform input[type="email"],
.coolform input[type="url"] {
width:250px;
}

.coolform input:focus {
box-shadow:0 0 5px #007eff !important;
-khtml-box-shadow:0 0 5px #007eff !important;
-moz-box-shadow:0 0 5px #007eff !important;
-webkit-box-shadow:0 0 5px #007eff !important;
}

.coolform input.error {
box-shadow:0 0 5px #ff4848 !important;
-khtml-box-shadow:0 0 5px #ff4848 !important;
-moz-box-shadow:0 0 5px #ff4848 !important;
-webkit-box-shadow:0 0 5px #ff4848 !important;
}